<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @productividad.cuf_pagable_filtrado %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @productividad.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">CufPagableFiltrado</div>
            <div class="itemValue"><%= @productividad.cuf_pagable_filtrado %></div>
          </li>
      
          <li>
            <div class="itemLabel">HorasHombre</div>
            <div class="itemValue"><%= @productividad.horas_hombre %></div>
          </li>
      
    </ul>
  </div>

</div>
