<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @operational.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @operational.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="operational[Seguridad]" class="fieldLabel">Seguridad</label>
            <input type="text" id="operational[Seguridad]" name="operational[Seguridad]" <%= placeholder("Seguridad") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
