<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @roce.object %>
    <h1>Edit <%= @roce.value%></h1>
    <%= link_to "Delete", :action => :delete, :id => @roce.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @roce.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Value: </td>
              <td class="itemValue"><input type="text" name="roce[value]" value="<%= @roce.value %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Flag: </td>
              <td class="itemValue"><input type="text" name="roce[flag]" value="<%= @roce.flag %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Tend: </td>
              <td class="itemValue"><input type="text" name="roce[tend]" value="<%= @roce.tend %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
