<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @roce.value %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @roce.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Value</div>
            <div class="itemValue"><%= @roce.value %></div>
          </li>
      
          <li>
            <div class="itemLabel">Flag</div>
            <div class="itemValue"><%= @roce.flag %></div>
          </li>
      
          <li>
            <div class="itemLabel">Tend</div>
            <div class="itemValue"><%= @roce.tend %></div>
          </li>
      
    </ul>
  </div>

</div>
